{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "problems",
    "react-app",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "overrides": [
    {
      "files": ["**/*.spec.[jt]s?(x)"],
      "env": {
        "jest": true,
        "jasmine": true
      }
    },
    {
      "files": ["scripts/**/*"],
      "rules": {
        "no-console": 0
      }
    },
    {
      "files": ["config-overrides.js"],
      "env": {
        "node": true
      },
      "parser": "esprima",
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true
  },
  "globals": {
    "global": true
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "rules": {
    "@typescript-eslint/array-type": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/prefer-interface": 0,
    "no-use-before-define": 0,
    "no-useless-constructor": 0,
    "react-hooks/exhaustive-deps": 1,
    "react-hooks/rules-of-hooks": 2,
    "react/display-name": 0,
    "react/no-children-prop": 0,
    "react/prop-types": 0
  },
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
